/IntegradorAeroespacial/nbproject/private/
/Parcial Biblioteca/nbproject/private/
/Parcial Biblioteca/build/
/ParcialBotanico/nbproject/private/
/ParcialBotanico/build/
/VicenteFranco.Parcial1.Div121/nbproject/private/
/VicenteFranco.Parcial1.Div121/build/
/Perez.Parcial1.121/nbproject/private/
/Perez.Parcial1.121/build/
/ParcialExpedicion/nbproject/private/
/ParcialExpedicion/build/
/Genericos/nbproject/private/
/Genericos/build/
/Bingo/nbproject/private/
/Bingo/build/
/EjerciciosGenerico/nbproject/private/
/EjerciciosGenerico/build/
/Wildcards/nbproject/private/
/Wildcards/build/
/Wildcards/dist/
